.container {
  width: 500px;
  padding: 10px;

  border: 3px solid black;
}

.container .box {
  width: 100px;
  height: 100px;
  margin: 10px 0;

  border: 3px solid rgb(247, 6, 6);
  box-sizing: border-box;
  text-align: center;
  line-height: 100px;

  transition: transform 0.25s;
}

.container.translate .box.z:hover {
  transform: translateZ(-100px);
}
.container.translate .box:nth-of-type(1):hover {
  transform: translateX(100px);
}

.container.translate .box:nth-of-type(2):hover {
  transform: translateY(-50);
}
.container.translate .box:nth-of-type(3):hover {
  transform: translate(20px, 20px);
}

.container.rotate {
  /* 3d 관점이 필요한 컨데이너 요소에 perspective(관점) */
  perspective: 500px;
}

.container.rotate .box {
  /* transform-origin: top right; */
}
.container.rotate .x:hover {
  transform: rotateX(45deg);
}

.container.rotate .box:hover {
  transform: rotateZ(50deg);
}

.container.scale .box.x {
  transform-origin: left;
}
.container.scale .box.x:hover {
  transform: scaleX(-1);
}

.container.scale .box.y {
  transform-origin: bottom;
}
.container.scale .box.y:hover {
  transform: scaleY(1.2);
}
.container.scale .box.xy:hover {
  transform: scale(1.2);
}
.container.skew .box.x:hover {
  transform: skewX(20deg);
}
.container.skew .box.y:hover:hover {
  transform: skewY(20deg);
}
.container.skew .box.xy:hover {
  transform: skew(20deg);
}

.container.complex .box:hover {
  transform: translate(50px) scale(2) rotate(30deg) skewX(20deg);
}
/* 단축속성 사용할 때 기존값에 추가하는 개념이 아니다 */
